<?xml version="1.0"?>
<!--
/**
 * Copyright © Magenuts Pvt Ltd. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.magenuts.com | support@magenuts.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="indexer">
            <module name="MagePal_Reindex" after="Magento_Indexer" />
        </route>
    </router>
</config>
